/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

h1{
  background-color: #FFDBAA;
  color: #553100;
  margin : -10px -10px -10px -10px;
  padding : 100px 0px 0px 0px;
}

body{
  background-color: #D4A76A;
}

.title_button{
  background-color: #805215;
  color: white;
  margin: auto;
  position: relative;
  width: 150px;
  height: 100px;
  font-size: 30px;
  left: 650px;
  bottom: 50px;
}

.internal_button_one{
  background-color: #805215;
  color: white;
  position: relative;
  width: 378px;
  height: 45px;
  font-size: 30px;
  left: -1px;
  top: 49px;
}

.internal_button_two{
  background-color: #805215;
  color: white;
  position: relative;
  width: 378px;
  height: 45px;
  font-size: 30px;
  left: 1px;
  top: 24px;
}

.internal_button_three{
  background-color: #805215;
  color: white;
  position: relative;
  width: 378px;
  height: 45px;
  font-size: 30px;
  left: 0px;
  top: 53px;
}

.bottom_button{
  background-color: #805215;
  color: white;
  margin: auto;
  position: relative;
  width: 1762px;
  height: 60px;
  font-size: 30px;
  left: 4px;
  top: 23px;
}

text{
  font-size: 50px;
  position: relative;
  bottom: 70px;
}

.internal_title{
  font-size: 30px;
  text-align: center;
  color: black;
  position: relative;
  bottom: 0px;
}

.internal_text_one{
  font-size: 20px;
  color: black;
  position: relative;
  top: 19px;
  left: 5px;
}

.internal_text_two{
  font-size: 20px;
  color: black;
  position: relative;
  top: 21px;
  left: 0px;
}

.internal_text_three{
  font-size: 20px;
  color: black;
  position: relative;
  top: 18px;
  left: 1px;
}


.internal_text_bottom{
  font-size: 20px;
  color: black;
  position: relative;
  top: 1px;
  left: 27px;
}


div{
  display: flex;
  position: relative;
  margin: 20px 20px 20px 20px;
  gap: 243px;
  left: 89px;
}

.about{
  width:1790px;
  position: relative;
  left: -53px;
}

p{
  background-color: white;
  color: black;
  text-align: center;
  width: 400px;
  height: 200px;
  position: relative;
  top: 0px;
  left: 0px;
}